@charset "UTF-8";

body{
	background-color: #9192ae;
}

.body-container{
	width: 90%;
	border: 0.1em solid black;
	border-radius: 0.3em;
	margin-top: 5%;
	 background-image: linear-gradient(white, #97d0f4); ;
	min-height: 1000px;
	

}

main{
	min-height: 80%;
}

body{
		background-image: url("../image_bg.jpg");
		    background-repeat: no-repeat;
    	background-attachment: fixed;
      background-size: auto;
      background-size: 100% 100%;
}

.hdjb{
	margin-bottom: 0%;
	background-image: url("../image_jb_2.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-size: 100% 35%;
}
.caption{
	display:block;
	width:30%;
	margin-left:auto;
	margin-right:auto;
}
.caption p{ 
	text-align: center;

}
.villeDepart{
	color: green;
}
.villeArrivee{
	color: blue;
}


.crop {
margin: auto;
 height: 400px;
 width: 900px;
 overflow: hidden;
}

.crop img {
 height: auto;
 width: 900px;
}

.sr-only{
	color: black;
}
.circuit_pres{
	height: 30em;
	width: 95%;
	margin: auto;
	margin-bottom:5%;
	overflow: hidden;	
}

.titre_circuit{
	margin-top:10%;
	font-size: 40px;
	margin-left:;
	text-align: center;
	text-transform: uppercase;
	color:white;
	font-family: 'Cinzel', serif;
}

.bot2 p{
	font-family: 'Cinzel', serif;
	color:white;
	text-align: center;
	font-size:18px;
	margin-top:auto;
	display: block;
	height:30px;
}
.bot2{
	margin-top:20%;
	height: 50px;
	width:100%;
	background-color: rgba(0,0,0,0.4);
	display: block;
}

.boutons{
	width:30%;
	margin-left: auto;
	margin-right:auto;
}
.nav-link{
	color:green;
}
.custom_link{
	font-size:1005px;
}
.menu{
	width:5000px;
}