{% extends 'base.html.twig' %}

{% block title %}New TypeEvenement{% endblock %}

{% block body %}
    <h1>Create new TypeEvenement</h1>

    {{ include('type_evenement/_form.html.twig') }}

    <a href="{{ path('type_evenement_index') }}">back to list</a>
{% endblock %}
