{% extends 'base.html.twig' %}

{% block title %}Edit Prestation{% endblock %}

{% block body %}
    <h1>Edit Prestation</h1>

    {{ include('prestation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('prestation_index') }}">back to list</a>

    {{ include('prestation/_delete_form.html.twig') }}
{% endblock %}
