{% extends 'base.html.twig' %}

{% block title %}New TypePrestation{% endblock %}

{% block body %}
    <h1>Create new TypePrestation</h1>

    {{ include('type_prestation/_form.html.twig') }}

    <a href="{{ path('admin_type_prestation') }}">back to list</a>
{% endblock %}
