{% extends 'base.html.twig' %}

{% block title %}Edit PortailB2B{% endblock %}

{% block body %}
    <h1>Edit PortailB2B</h1>

    {{ include('portail_b2_b/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('portail_b2_b_index') }}">back to list</a>

    {{ include('portail_b2_b/_delete_form.html.twig') }}
{% endblock %}
